Enter player names

<form action="/names" method="post" >
    
    <label for="name1">Person 1:</label>
    <input type="text" name="name1">

    <label for="name2">Person 2:</label>
    <input type="text" name="name2">
    
    <input type="submit" value="Submit">
</form>